[Unit]
Description=The Sensu Agent process.
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=-/etc/default/sensu-agent
EnvironmentFile=-/etc/sysconfig/sensu-agent
LimitNOFILE=65535
ExecStart=/usr/sbin/sensu-agent start -c /etc/sensu/agent.yml
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
