{% set files = salt['grains.filter_by']({
    'default': {
        'files': {
            'user': 'root',
            'group': 'root',
        },
    },
    'Windows': {
        'files': {
            'user': 'Administrator',
            'group': 'nowindowsgroup',
            },
    },
}, merge=salt['pillar.get']('sensu'), default='default') %}

